@import url(./__section-subtitle_theme_dark/kaufman__section-subtitle_theme_dark.css);
.kaufman__section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  }
  